{% extends "layout.twig" %}

{% block title %}Users{% endblock %}

{%  block content %}
    <div class="row">
        {% for user in users %}
            <div class="col-sm-6">
                {{ include('cards/user.twig') }}
            </div>
        {%  endfor %}
    </div>
{%  endblock %}